body {
    background-color: #ffeb3b; /* Yellow background */
    color: #000000;
    font-family: 'League Spartan', sans-serif;
}

.header {
    background-color: #ffeb3b; /* Yellow background */
    color: #000000;
}
