@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 16px; /* Base font size */
}

.day-mode {
    background-color: white;
    color: black;
}

.day-mode .header {
    background-color: white;
    color: black;
}

.night-mode {
    background-color: black;
    color: white;
}

.night-mode .header {
    background-color: black;
    color: white;
}

.batyr-mode {
    background-color: #FAD02C;
    color: black;
}

.batyr-mode .header {
    background-color: #FAD02C;
    color: black;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between elements */
    padding: 7px 14px; /* Уменьшено на 70% от оригинала */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: top 0.3s;
    background-color: inherit; /* Match the current theme */
}

.header img {
    max-width: 52.5px;
    height: auto;
}

.header.hidden {
    top: -100px;
}

h1, h2 {
    text-align: center;
    margin: 10px 0;
    margin-top: 80px;
}

.container {
    max-width: 800px;
    text-align: center;
    padding: 20px;
}

.content {
    max-width: 800px;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}

.content img {
    max-width: 100%; /* Ensure images do not exceed container width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 15px; /* Add space between images */
}


/* Adjustments for medium screens */
@media (max-width: 1024px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    .welcome-text {
        font-size: 2.5em;
    }

    .info-section h2 {
        font-size: 2em;
    }

    .info-section p {
        font-size: 1em;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/* Adjustments for small screens */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.75em;
    }

    p {
        font-size: 0.875em;
    }

    .welcome-text {
        font-size: 2em;
    }

    .info-section h2 {
        font-size: 1.75em;
    }

    .info-section p {
        font-size: 0.875em;
    }

    .sidebar a {
        font-size: 16px;
    }
}

/* Adjustments for extra small screens */
@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.25em;
    }

    p {
        font-size: 0.75em;
    }

    .welcome-text {
        font-size: 1.5em;
    }

    .info-section h2 {
        font-size: 1.25em;
    }

    .info-section p {
        font-size: 0.75em;
    }

    .sidebar a {
        font-size: 14px;
    }
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    color: inherit;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
    display: inline-flex;
    align-items: center;
}

.social-links a:hover {
    text-decoration: underline;
}

.social-links img {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent; /* Transparent background */
    color: #818181; /* Light gray text */
    border: none;
    padding: 10px 15px;
}

.openbtn:hover {
    background-color: #444444;
    color: #ffffff;
}

.fixed-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
}

.sidebar a {
    padding: 10px 25px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    margin-bottom: 15px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar a.active {
    background-color: #808080;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

.welcome-section {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-image {
    width: 100%;
    height: auto;
    display: block;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    font-weight: bold;
}

.info-section {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.info-section h2 {
    font-size: 5em;
    margin-bottom: 20px;
    font-weight: bold;
}

.info-section p {
    font-size: 1.5em;
    margin-bottom: 50px;
}

.photo-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Make background slightly transparent */
    padding: 20px;
}

.photo {
    max-width: 65%;
    height: auto;
    transition: transform 0.15s ease;
}

.photo img {
    width: 65%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.photos-container {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    background-color: black;
    padding: 20px;
}

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: rgb(87, 87, 87);
    border: none;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.highlight {
    background-color: yellow;
}

.toggle-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto; /* Move to the right */
    margin-right: 50px;
}

.toggle-btn img {
    width: 35px; /* Adjust size as needed */
    height: 35px; /* Adjust size as needed */
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.5)); /* Add shadow for visibility */
}

.toggle-btn:hover img {
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.7)); /* Enhance shadow on hover */
}

h1 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700; /* Assuming you want headings to be bold */
}

p {
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
}